<% provide :title, "Cart" %>
<%= render 'shared/light_section', page_title: "Cart" %>
<div class="main-wrapper">
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix cartListWrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="cartListInner">
            <% if @line_items.blank? %>
              カートは空です。
            <% else %>
              <%= render partial: "order_form", locals: { order: @order, line_items: @line_items } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>