<% provide :title, "Order Complete" %>
<%= render 'shared/light_section', page_title: "Thanks message" %>
<div class="main-wrapper">
  <section class= "mainContent clearfix setp5">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="thanksContent">
            <h2>Thank You !! <small>ご注文ありがとうございます。</small></h2>
            <h3>Shipping Details</h3>
            <div class="thanksInner">
              <div class="row">
                <div class="col-sm-6 col-xs-12 tableBlcok">
                  <%= render 'shared/confirm_address', order: @order, address: @order.ship_address %>
                </div>
                <div class="col-sm-6 col-xs-12">
                  <div class="well">
                    <h2><small>Order ID</small><%= @order.number %></h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>