<ul class="list-unstyled clearfix">
  <li>
    <%= link_to potepan_category_path(taxon.id, value: size.presentation) do %>
      <%= size.presentation %><span>(<%= option_products_count(value: size, category: taxon) %>)</span>
    <% end %>
  </li>
</ul>