<div class="col-xs-6">
  <%= form_with url: potepan_category_path(taxon.id), method: :get, local: true do |f| %>
    <%= f.hidden_field :value, value: params[:value] if params[:value] %>
    <%= f.select(:sort, [
      ['新着順', "new"],
      ['価格の安い順', "low_price"],
      ['価格の高い順', "high_price"],
      ['古い順', "old"]],
        {selected: params[:sort] || "new"},
        onchange: "this.form.submit();", class: "select-drop") %>
  <% end %>
</div>