<% provide(:title, @taxon.name) %>
<div class="main-wrapper">
  <%= render 'shared/light_section', page_title: @taxon.name %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
          <%= render 'taxonomies', taxonomies: @taxonomies %>
          <div class="panel panel-default filterNormal">
            <div class="panel-heading">色から探す</div>
            <div class="panel-body">
              <%= render partial: 'color', locals: { taxon: @taxon }, collection: @color_values, as: :color %>
            </div>
          </div>
          <div class="panel panel-default filterNormal">
            <div class="panel-heading">サイズから探す</div>
            <div class="panel-body">
              <%= render partial: 'size', locals: { taxon: @taxon }, collection: @size_values, as: :size %>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <div class="row filterArea">
            <%= render partial: 'sort', locals: { taxon: @taxon } %>
          </div>
          <div class="row" id="row_productbox">
            <%= render partial: 'shared/product', collection: @products, locals: { bootstrap: "col-sm-4 col-xs-12" } %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%= render 'shared/partners_logo' %>
</div>
<%= render "shared/signup_modal" %>
<%= render "shared/login_modal" %>
