<address>
  <div class="confirm-address">
    <strong><%= address.full_name %></strong><br>
    <%= "〒 #{address.zipcode}" %><br>
    <%= "#{address.address1}, #{address.city}, #{address.state}, #{address.country.try(:name)}" %><br>
    <span>Email       </span><%= order.email %><br>
    <span>Phone       </span><%= address.phone %>
  </div>
</address>