<%= @ship_address.full_name %>様
(注文番号:<%= @order.number %>)

この度は、<%= @store.name %>をご利用いただきまして、ありがとうございます。
今回のご注文内容は以下のとおりです。ご確認くださいませ。
========================================

【お届け先】
<%= @ship_address.full_name %>
<%= "〒 #{@ship_address.zipcode}" %>
<%= "#{@ship_address.city}, #{@ship_address.state}, #{@ship_address.address1}" %>
メールアドレス:<%= @order.email %>
電話番号:<%= @ship_address.phone %>

【ご注文内容】
<% @order.line_items.each do |line_item| %>
----------------------------------------
  <% variant = line_item.variant %>
  <%= line_item.name %>
  数量:<%= line_item.quantity %>
  単価:<%= line_item.display_price %>
  金額:<%= line_item.display_amount unless line_item.quantity.nil? %>
----------------------------------------
<% end %>

【お会計】
小計:<%= @order.display_item_total %>
消費税:<%= @order.display_tax_total %>
総計:<%= @order.display_total %>

========================================
またのご利用をお待ちしております！
<%= @store.name %>
