<% param_prefix = "payment_source[#{payment_method.id}]" %>
<div class="form-group col-sm-6 col-xs-12">
  <%= label_tag "card_number", "カード番号" %>
  <%= text_field_tag "#{param_prefix}[number]", '4222222222222', { class: 'form-control' } %>
</div>
<div class="form-group col-sm-6 col-xs-12">
  <%= label_tag "name_on_card_#{payment_method.id}", "カード名義人" %>
  <%= text_field_tag "#{param_prefix}[name]", '', { class: "form-control" } %>
</div>
<div class="form-group col-sm-6 col-xs-12">
  <%= label_tag "card_expiry", "有効期限" %>
  <div class="row">
    <div class="col-xs-6">
      <span class="step-drop">
        <%= select_tag "#{param_prefix}[month]", options_for_select(1..12), class: "select-drop" %>
      </span>
    </div>
    <div class="col-xs-6">
      <span class="step-drop">
        <%= select_tag "#{param_prefix}[year]", options_for_select([*(Time.current.year)..(Time.current.year + 9)]), class: "select-drop" %>
      </span>
    </div>
  </div>
</div>
<div class="form-group col-sm-6 col-xs-12">
  <%= label_tag "card_code", "セキュリティコード" %>
  <%= password_field_tag "#{param_prefix}[verification_value]", '', class: "form-control" %>
</div>
<% if order.bill_address %>
  <%= fields_for "#{param_prefix}[address_attributes]", order.bill_address do |f| %>
    <%= render 'form_hidden', f: f %>
  <% end %>
<% end %>
<%= hidden_field_tag "#{param_prefix}[cc_type]", '', id: "cc_type" %>