<% provide :title, "Checkout" %>
<%= render "shared/error_messages", object: @order %>
<%= render "shared/light_section", page_title: section_title(@order) %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix stepsWrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="innerWrapper clearfix stepsPage">
          <%= render 'steps_page', order: @order %>
          <%= form_with model: @order, url: potepan_update_checkout_path(@order.state), local: true do |f| %>
            <%= render @order.state, order: @order, f: f %>
            <%= render 'submit_form', order: @order, f: f %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>