<!-- TOPBAR -->
<div class="topBar">
  <div class="container">
    <div class="row">
      <div class="col-md-6 hidden-sm hidden-xs"></div>
      <div class="col-md-6 col-xs-12">
        <ul class="list-inline pull-right">
          <li><span><a href='/login'>ログイン</a><small>or</small><a href='/signup'>新規登録</a></span></li>
            <%= render 'layouts/search_box' %>
          <li class="dropdown">
            <%= link_to potepan_cart_path, class: "dropdown-toggle", "data-toggle" => "dropdown disabled" do %>
              <i class="fa fa-shopping-cart"></i>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>